[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-twitter = "*"
twitter = "*"
black = "*"
flake8 = "*"
tweepy = "*"
pandas = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
